.spinnerOverlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 1000;
}

.spinner {
  width: var(--SIZE_40);
  aspect-ratio: 1;
  border-radius: 50%;
  border: var(--SIZE_TOP_LINE) solid #f3f3f3;
  border-top: var(--SIZE_TOP_LINE) solid #008cf0;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
