.header {
  width: 100%;
  position: relative;
  align-items: center;
  box-sizing: border-box;
}

.descriptions {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: var(--PADDING_4);
}
